extends layout

block content
	h1.text-center.login-title Welcome to Shrine
		a(href='/signup', class='text-center new-account') Create an account
		a(href='/login', class='text-center new-account') Login