extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Please Select a  Time
					div.signup-wall
						form(class='form-signin', action='/timeSignup', method='POST')
							input#0000(type='radio', name='time', value='0000')
							label(for='0000')  12:00 AM-12:30 AM 
							br
							input#0030(type='radio', name='time', value='0030')
							label(for='0030') 12:30 AM-1:00 AM
							br
							input#0100(type='radio', name='time', value='0100')
							label(for='0100') 1:00 AM-1:30 AM
							br
							input#0130(type='radio', name='time', value='0130')
							label(for='0130') 1:30 AM-2:00 AM
							br
							input#0200(type='radio', name='time', value='0200')
							label(for='0200') 2:00 AM-2:30 AM
							br
							input#0230(type='radio', name='time', value='0230')
							label(for='0230') 2:30 AM-3:00 AM
							br
							input#0300(type='radio', name='time', value='0300')
							label(for='0300') 3:00 AM-3:30 AM
							br
							input#0330(type='radio', name='time', value='0330')
							label(for='0330') 3:30 AM-4:00 AM
							br
							input#0400(type='radio', name='time', value='0400')
							label(for='0400') 4:00 AM-4:30 AM
							br
							input#0430(type='radio', name='time', value='0430')
							label(for='0430') 4:30 AM-5:00 AM
							br
							input#0500(type='radio', name='time', value='0500')
							label(for='0500') 5:00 AM-5:30 AM
							br
							input#0530(type='radio', name='time', value='0530')
							label(for='0530') 5:30 AM-6:00 AM
							br
							input#0600(type='radio', name='time', value='0600')
							label(for='0600') 6:00 AM-6:30 AM
							br
							input#0630(type='radio', name='time', value='0630')
							label(for='0630') 6:30 AM-7:00 AM
							br
							input#0700(type='radio', name='time', value='0700')
							label(for='0700') 7:00 AM-7:30 AM
							br
							input#0730(type='radio', name='time', value='0730')
							label(for='0730') 7:30 AM-8:00 AM
							br
							input#0800(type='radio', name='time', value='0800')
							label(for='0800') 8:00 AM-8:30 AM
							br
							input#0830(type='radio', name='time', value='0830')
							label(for='0830') 8:30 AM-9:00 AM
							br
							input#0900(type='radio', name='time', value='0900')
							label(for='0900') 9:00 AM-9:30 AM
							br
							input#0930(type='radio', name='time', value='0930')
							label(for='0930') 9:30 AM-10:00 AM
							br
							input#1000(type='radio', name='time', value='1000')
							label(for='1000') 10:00 AM-10:30 AM
							br
							input#1030(type='radio', name='time', value='1030')
							label(for='1030') 10:30 AM-11:00 AM
							br
							input#1100(type='radio', name='time', value='1100')
							label(for='1100') 11:00 AM-11:30 AM
							br
							input#1130(type='radio', name='time', value='1130')
							label(for='1130') 11:30 AM-12:00 PM
							br
							input#1200(type='radio', name='time', value='1200')
							label(for='1200') 12:00 PM-12:30 PM
							br
							input#1230(type='radio', name='time', value='1230')
							label(for='1230') 12:30 AM-1:00 PM
							br
							input#1300(type='radio', name='time', value='1300')
							label(for='1300') 1:00 PM-1:30 PM
							br
							input#1330(type='radio', name='time', value='1330')
							label(for='1330') 1:30 AM-2:00 PM
							br
							input#1400(type='radio', name='time', value='1400')
							label(for='1400') 2:00 PM-2:30 PM
							br
							input#1430(type='radio', name='time', value='1430')
							label(for='1430') 2:30 PM-3:00 PM
							br
							input#1500(type='radio', name='time', value='1500')
							label(for='1500') 3:00 PM-3:30 PM
							br
							input#1530(type='radio', name='time', value='1530')
							label(for='1530') 3:30 PM-4:00 PM
							br
							input#1600(type='radio', name='time', value='1600')
							label(for='1600') 4:00 PM-4:30 PM
							br
							input#1630(type='radio', name='time', value='1630')
							label(for='1630') 4:30 PM-5:00 PM
							br
							input#1700(type='radio', name='time', value='1700')
							label(for='1700') 5:00 PM-5:30 PM
							br
							input#1730(type='radio', name='time', value='1730')
							label(for='1730') 5:30 PM-6:00 PM
							br
							input#1800(type='radio', name='time', value='1800')
							label(for='1800') 6:00 PM-6:30 PM
							br
							input#1830(type='radio', name='time', value='1830')
							label(for='1830') 6:30 PM-7:00 PM
							br
							input#1900(type='radio', name='time', value='1900')
							label(for='1900') 7:00 PM-7:30 PM
							br
							input#1930(type='radio', name='time', value='1930')
							label(for='1930') 7:30 PM-8:00 PM
							br
							input#2000(type='radio', name='time', value='2000')
							label(for='2000') 8:00 PM-8:30 PM
							br
							input#2030(type='radio', name='time', value='2030')
							label(for='2030') 8:30 PM-9:00 PM
							br
							input#2100(type='radio', name='time', value='2100')
							label(for='2100') 9:00 PM-9:30 PM
							br
							input#2130(type='radio', name='time', value='2130')
							label(for='2130') 9:30 PM-10:00 PM
							br
							input#2200(type='radio', name='time', value='2200')
							label(for='2200') 10:00 PM-10:30 PM
							br
							input#2230(type='radio', name='time', value='2230')
							label(for='2230') 10:30 PM-11:00 PM
							br
							input#2300(type='radio', name='time', value='2300')
							label(for='2300') 11:00 PM-11:30 PM
							br
							input#2330(type='radio', name='time', value='2330')
							label(for='2330') 11:30 PM-12:00 AM
							br
							button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
							span.clearfix