extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Please Select a Location and Time
					div.signup-wall
						form(class='form-signin', action='/timeSignup', method='POST')
							h3.text-center From
							hr
							input#airport(type='radio', name='from', value='airport', required='')
							label(for='airport') Raleigh-Durham Airport
							br
							input#trainStation(type='radio', name='from', value='trainStation')
							label(for='trainStation') Durham Train Station
							br
							input#campus(type='radio', name='from', value='campus')
							label(for='campus') Campus
							br
							br
							h3.text-center To
							hr
							input#airport1(type='radio', name='to', value='airport', required='')
							label(for='airport1') Raleigh-Durham Airport
							br
							input#trainStation1(type='radio', name='to', value='trainStation')
							label(for='trainStation1') Durham Train Station
							br
							input#campus1(type='radio', name='to', value='campus')
							label(for='campus1') Campus
							br
							br
							h3.text-center Date
							hr
							select.form-control(name='month', required='')
								option(value='1') January
								option(value='2') February
								option(value='3') March
								option(value='4') April
								option(value='5') May
								option(value='6') June
								option(value='7') July
								option(value='8') August
								option(value='9') September
								option(value='10') October
								option(value='11') November
								option(value='12') December
							select.form-control(name='day', required='')
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4') 4
								option(value='5') 5
								option(value='6') 6
								option(value='7') 7
								option(value='8') 8
								option(value='9') 9
								option(value='10') 10
								option(value='11') 11
								option(value='12') 12
								option(value='13') 13
								option(value='14') 14
								option(value='15') 15
								option(value='16') 16
								option(value='17') 17
								option(value='18') 18
								option(value='19') 19
								option(value='20') 20
								option(value='21') 21
								option(value='22') 22
								option(value='23') 23
								option(value='24') 24
								option(value='25') 25
								option(value='26') 26
								option(value='27') 27
								option(value='28') 28
								option(value='29') 29
								option(value='30') 30
								option(value='31') 31
							select.form-control(name='year', required='')
								option(value='2015') 2015
								option(value='2016') 2016
							br
							h3.text-center Time
							hr
							select.form-control(name='time', required='')
								option(value='0000') 12:00 AM-12:30 AM
								option(value='0030') 12:30 AM-1:00 AM
								option(value='0100') 1:00 AM-1:30 AM
								option(value='0130') 1:30 AM-2:00 AM
								option(value='0200') 2:00 AM-2:30 AM
								option(value='0230') 2:30 AM-3:00 AM
								option(value='0300') 3:00 AM-3:30 AM
								option(value='0330') 3:30 AM-4:00 AM
								option(value='0400') 4:00 AM-4:30 AM
								option(value='0430') 4:30 AM-5:00 AM
								option(value='0500') 5:00 AM-5:30 AM
								option(value='0530') 5:30 AM-6:00 AM
								option(value='0600') 6:00 AM-6:30 AM
								option(value='0630') 6:30 AM-7:00 AM
								option(value='0700') 7:00 AM-7:30 AM
								option(value='0730') 7:30 AM-8:00 AM
								option(value='0800') 8:00 AM-8:30 AM
								option(value='0830') 8:30 AM-9:00 AM
								option(value='0900') 9:00 AM-9:30 AM
								option(value='0930') 9:30 AM-10:00 AM
								option(value='1000') 10:00 AM-10:30 AM
								option(value='1030') 10:30 AM-11:00 AM
								option(value='1100') 11:00 AM-11:30 AM
								option(value='1130') 11:30 PM-12:00 AM
								option(value='1200') 12:00 PM-12:30 PM
								option(value='1230') 12:30 AM-1:00 PM
								option(value='1300') 1:00 PM-1:30 PM
								option(value='1330') 1:30 AM-2:00 PM
								option(value='1400') 2:00 PM-2:30 PM
								option(value='1430') 2:30 PM-3:00 PM
								option(value='1500') 3:00 PM-3:30 PM
								option(value='1530') 3:30 PM-4:00 PM
								option(value='1600') 4:00 PM-4:30 PM
								option(value='1630') 4:30 PM-5:00 PM
								option(value='1700') 5:00 PM-5:30 PM
								option(value='1730') 5:30 PM-6:00 PM
								option(value='1800') 6:00 PM-6:30 PM
								option(value='1830') 6:30 PM-7:00 PM
								option(value='1900') 7:00 PM-7:30 PM
								option(value='1930') 7:30 PM-8:00 PM
								option(value='2000') 8:00 PM-8:30 PM
								option(value='2030') 8:30 PM-9:00 PM
								option(value='2100') 9:00 PM-9:30 PM
								option(value='2130') 9:30 PM-10:00 PM
								option(value='2200') 10:00 PM-10:30 PM
								option(value='2230') 10:30 PM-11:00 PM
								option(value='2300') 11:00 PM-11:30 PM
								option(value='2330') 11:30 PM-12:00 AM
							hr
							h3.text-center Comments (optional)
							textarea(name='comment', rows='4', placeholder='Add any comments here that you would like other people to know (ie. the exact time you arrive')
							hr
							button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
							span.clearfix